---
import { getI18N } from "../../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex justify-end">
  <a
    href="https://www.youtube.com/watch?v=O43x26hiolw"
    target="_blank"
    rel="noopener noreferrer"
    class="font-semibold border border-white px-4 py-2 rounded-3xl transition-colors duration-300 hover:text-black hover:bg-white"
  >
    {i18n?.HEADER_BUTTON}</a
  >
</div>
