---

---

<div class="w-full relative">
  <img
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
    src="/logo-home.svg"
    alt="Premios a la comunidad hispano hablante de streaming"
  />
  <video
    class="w-full h-screen clip object-cover object-top animate-fade animate-ease-in-out animate-duration-1000"
    src="/videos/360_LOGO.webm"
    autoplay
    loop
    muted></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/videos/360_LOGO.webm"
    autoplay
    loop
    muted></video>
</div>

<style>
  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0% 85%);
  }
</style>
